{% extends 'base.html' %}

{% load thumbnail %}
{% load static %}

{% block content %}
    <style>
        .edit__post__form p input[type=text], .edit__post__form p textarea  {
            width: 50%;
            margin: 0 auto;
        }

        .edit__post__form p {
        }

        .edit__post__form button {
            display: block;
            margin: 0 auto;
        }
    </style>

    <section class="edit__post">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="edit__post__form">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            {{ form.error_class }}
                            <button type="submit" class="btn btn-primary">Edit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}