{% extends 'base.html' %}

{% load static %}

{% block title %}
    Reset Password
{% endblock title %}

{% block content %}
    <section id="section__login">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card" style="width: auto;">
                        <div class="card-body">
                            <h1 class="card-title">InstaClone</h1>
                            <p style="font-weight: 800;" class="card-text">Не удается войти?</p>
                            <div class="card__text">
                                Введите имя пользователя или<br> электронный адрес, и мы отправим вам<br> ссылку для восстановления доступа к<br> аккаунту.
                            </div>
                            <form action="" method="post">
                                {% csrf_token %}
                                {% for field in form %}
                                    <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" maxlength="30" name="{{ field.html_name }}" placeholder="{{ field.html_name }}" type="text" />
                                {% endfor %}
                                <button type="submit" class="btn btn-primary">Получить ссылку для входа</button>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section__have_account">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card" style="width: auto;">
                        <div class="card-body">
                            <div class="have__account">
                                <a href="#">Вернуться к входу</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}