{% extends 'base.html' %}

{% load static %}

{% block title %}
    Reset Password
{% endblock title %}

{% block content %}
    <section id="section__login">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card" style="width: auto;">
                        <div class="card-body">
                            <h1>Пароль установлен</h1>
                            <p>Твой пароль установлен. Ты можешь сейчас <a href="{% url "login" %}">залогиниться</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}