{% extends 'base.html' %}

{% load static %}

{% block title %}
    Reset Password
{% endblock title %}

{% block content %}
    <section id="section__login">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card" style="width: auto;">
                        <div class="card-body">
                            <h1 class="card-title">Измените ваш пароль</h1>
                            {% if validlink %}
                                <p class="card-text">Введите ваш новый пароль:</p>
                                <form action="" method="post">
                                    {% csrf_token %}
                                    {% for field in form %}
                                        <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" maxlength="30" name="{{ field.html_name }}" placeholder="{{ field.html_name }}" type="text" />
                                    {% endfor %}
                                    <button type="submit" class="btn btn-primary">Изменить пароль</button>
                                </form>
                            {% else %}
                                <div class="card__text">
                                    Линк на изменение паролья не верный,
                                    возможно она была уже использована.
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}