{% extends 'base.html' %}

{% load thumbnail %}
{% load static %}

{% block content %}
    <style>
        .explore__list {
            display: grid;
            grid-gap: 40px;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-auto-rows: 300px;
        }
    </style>

    <section class="explore">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="explore__list mt-4">
                        {% for image in most_viewed %}
                            <div class="item">
                                {% thumbnail image.image "300x300" as im %}
                                    <a href="{{ image.get_absolute_url }}"><img src="{{ im.url }}" alt=""></a>
                                {% endthumbnail %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}